.slider-container {
    height: 600px;
    margin-left: 50px;
    margin-right: 50px;
}

.carousel-card {
    width: 20px;
    height: 400px;
    border: 10px solid var(--blue);
    border-radius: 50px;
    line-height: 1.5;
    padding: 50px;
    font-size: 20px;
    text-align: center;
}

.carousel-card h4 {
    font-family: "Alfa Slab One", serif;
    font-weight: 500;
    font-size: 30px;
    margin-top: 30px;
}

.slick-slide {
    padding: 0 80px;
}

.slick-prev:before,
.slick-next:before {
    color: var(--blue) !important;
    font-size: 30px;
}

.slick-prev:before {
    margin-left: 20px;
}

.slick-next:before {
    margin-right: 30px;
}

@media screen and (max-width: 960px) {

    .slider-container {
        height: 500px;
    }

    .carousel-card {
        height: 400px;
        border: 5px solid var(--blue);
        border-radius: 50px;
        line-height: 1.5;
        font-size: 20px;
        text-align: center;
    }

    .carousel-card p {
        font-size: 14px;
    }

    .carousel-card h4 {
        font-family: "Alfa Slab One", serif;
        font-weight: 500;
        font-size: 20px;
        top: 300px;
        position: absolute;
        translate: 10% 110%;
    }

    .slick-slide {
        padding: 0 10px;
    }

    .slick-prev:before,
    .slick-next:before {
        color: var(--blue) !important;
        font-size: 20px;
    }

    .slick-prev:before {
        margin-left: 10px;
    }

    .slick-next:before {
        margin-right: 10px;
    }
}