:root {
    --green: #8CB369;
    --blue: #5B8E7D;
    --darkblue: #32463f;
    --grey: #242424;
    --white: #fff;
    --lightgreen: #DAECCA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lightgreen);
}